services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: fms
      POSTGRES_PASSWORD: fms_password
      POSTGRES_DB: fmsdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/sql/001_init.sql:/docker-entrypoint-initdb.d/001_init.sql:ro

  mqtt:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  backend:
    build:
      context: ./backend
    environment:
      NODE_ENV: production
      PORT: 8080
      DATABASE_URL: postgres://fms:fms_password@postgres:5432/fmsdb
      JWT_SECRET: "change_me_in_prod"
      CORS_ORIGIN: "http://localhost:5173"
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.test
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
